@model HrInternWebApp.Entity.Survey

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3>Prediction Report for Employee: @Model.Employee.empId</h3>
            <hr />
            <p><b>Model 1 Prediction:</b> @ViewBag.PredictionModel1</p>
            <p><b>Model 2 Prediction:</b> @ViewBag.PredictionModel2</p>
        </div>
    </div>
</div>
