@model HrInternWebApp.Models.Identity.LogIn

@{
    ViewData["Title"] = "Login";
}

<div class="container-fluid" style="background-color: #0E3B31;height:100vh">
    <div class="row h-100">
        <div class="col-md-7 d-flex flex-column justify-content-center align-items-center" style="background-color:white;">
           <div class="text-center">
                <img src="~/images/logoHRMS.jpg" class="img-fluid mb-4">
                <h1 class="text" style="color:darkgrey;">Human Resource Management System</h1>
           </div> 
        </div>
        <div class="col-md-5 d-flex flex-column justify-content-center align-items-center" style="background-color:#0E3B31;">
            <div class="login-content p-5">
                <h2 class="text-white mb-4">Welcome Back</h2>
                <p class="text-white mb-4">Sign in to your account</p>

                @if (TempData["ErrorMessage"] != null)
                {
                    <div class="alert alert-danger">
                        @TempData["ErrorMessage"]
                    </div>
                }

                <form asp-action="Login" method="post">

                    <div class="form-group mb-4">
                        <label for="Username" class="text-white">Username</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="bi bi-person-circle"></i>
                                </span>
                            </div>
                            <input type="text" id="username" name="username" class="form-control"
                                   placeholder="Enter Username" value="@ViewBag.RememberMeName" />
                        </div>
                    </div>

                    <div class="form-group mb-4">
                        <label for="Username" class="text-white">EmployeeId</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="bi bi-code-square"></i>
                                </span>
                            </div>
                            <input type="text" id="empId" name="empId" class="form-control"
                                   placeholder="Enter EmployeeId" value="@ViewBag.RememberMeId" />
                        </div>
                    </div>

                    <div class="form-group mb-4">
                        <label for="password" class="text-white">Password</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="bi bi-lock-fill"></i>
                                </span>
                            </div>
                            <input type="password" id="password" name="password" class="form-control"
                                   placeholder="Enter Password"/>
                        </div>
                    </div>


                    <div class="form-check">
                        <input asp-for="RememberMe" class="form-check-input" type="checkbox" />
                        <label asp-for="RememberMe" class="form-check-label">Remember Me</label>
                    </div>

                    <button type="submit" class="btn btn-secondary w-100">Login</button>
                </form>

                <div class="mt-4 text-center">
                    <a asp-controller="Authentication" asp-action="Signup" class="text-white">Don't have an account? Sign Up here</a>
                </div>

            </div>
        </div>
    </div>
</div>
