@model HrInternWebApp.Entity.Employee

@{
    ViewData["Title"] = "Sign Up";
}

<div class="container-fluid" style="background-color: #0E3B31;height:100vh">
    <div class="row h-100">
        <div class="col-md-5 d-flex flex-column justify-content-center align-items-center" style="background-color:white;">
            <div class="text-center">
                <h1>Sign Up</h1>
            </div>
        </div>
        <div class="col-md-7 d-flex flex-column justify-content-center align-items-center" style="background-color:#0E3B31;">
            <div class="signup-content p-5">
                <form asp-action="Signup" method="post" enctype="multipart/form-data">

                    <div class="form-group mb-4">
                        <label for="Username" class="text-white">Username</label>
                        <input type="text" id="username" name="Username" class="form-control" placeholder="Enter Username" />
                    </div>

                    <div class="form-group mb-4">
                        <label for="Employee ID" class="text-white">Employee ID</label>
                        <input type="text" id="empId" name="EmpId" class="form-control" placeholder="Enter Employee ID" />
                    </div>

                    <div class="form-group mb-4">
                        <label for="Email" class="text-white">Email</label>
                        <input type="text" id="email" name="Email" class="form-control" placeholder="Enter Email" />
                    </div>

                    <div class="form-group mb-4">
                        <label for="Password" class="text-white">Password</label>
                        <input type="password" id="password" name="Password" class="form-control" placeholder="Enter Password" />
                    </div>

                    <div class="form-group mb-4">
                        <label for="Role" class="text-white">Role</label>
                        <select id="role" name="Role" class="form-control">
                            <option value="Admin">Admin</option>
                            <option value="Manager">Manager</option>
                            <option value="Senior">Senior</option>
                            <option value="Junior">Junior</option>
                        </select>
                    </div>

                     <div class="form-group mb-4">
                            <select asp-for="Department" class="form-control">
                                <option value="">Select Department</option>
                                <option value="Finance">Finance</option>
                                <option value="IT">IT</option>
                                <option value="Human Resource">Human Resource</option>
                                <option value="Logistic">Logistic</option>
                                <option value="Consultant">Consultant</option>
                                <option value="Operation">Operation</option>
                            </select>
                            <span asp-validation-for="Department" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-4">
                        <label for="profilePic" class="text-white">Upload Profile </label>
                        <input type="file" id="profilePic" name="ProfilePic" class="form-control-file" accept="image/*" />
                    </div>

                    <button type="submit" class="btn btn-primary w-100">Register</button>
                    <div class="mt-4 text-center">
                        <a asp-controller="Authentication" asp-action="Login" class="btn btn-secondary w-100">Back to Sign In</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
