
    <div class="container-fluid" style="background-color: #0E3B31; height: 100vh;">
        <div class="row h-100">

            <div class="container-fluid" style="background-color: #0E3B31; height: 100vh;">
                <div class="row h-100">

                    <div class="col-md-3 p-3" style="background-color: #1A3E37;">
                        @await Html.PartialAsync("Sidebar")
                    </div>

                        <div class="col-md-9 d-flex justify-content-center align-items-center" style="background-color: white; padding: 20px;">
                         
                               <a>Create</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
