@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Home";
}

<h2>Welcome @HttpContextAccessor.HttpContext.Session.GetString("Username")</h2>

<div>
    <a class="btn btn-primary" href="@Url.Action("ApplyLeave", "LeaveApplication")">Apply for Leave</a>
    <a class="btn btn-secondary" href="@Url.Action("ViewLeave", "LeaveApplication")">View Leave Applications</a>
</div>
