@model HrInternWebApp.Models.Identity.Leave 

<div class="container-fluid" style="background-color: #0E3B31; height: 100vh;">
    <div class="row h-100">

        <div class="col-md-3 p-3" style="background-color: #1A3E37;">
            @await Html.PartialAsync("Sidebar")
        </div>

        <div class="col-md-9 d-flex justify-content-center align-items-center" style="background-color: white; padding: 20px;">
            <div class="col-md-8 bg-light p-5 rounded" style="min-height: 70vh;">
                <h2 class="text-center mb-5">Request Leave</h2>
                <form asp-action="ApplyLeave" method="post">

                    <div class="form-group row mb-5">
                        <label asp-for="LeaveType" class="col-sm-3 col-form-label">Leave type:</label>
                        <div class="col-sm-9">
                            <input asp-for="LeaveType" class="form-control" placeholder="Enter the type of leave" />
                            <span asp-validation-for="LeaveType" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row mb-5">
                        <label asp-for="StartDate" class="col-sm-3 col-form-label">Duration:</label>
                        <div class="col-sm-4">
                            <input asp-for="StartDate" class="form-control" type="date" />
                             <span asp-validation-for="StartDate" class="text-danger"></span>
                        </div>
                        <div class="col-sm-1 text-center">to</div>
                        <div class="col-sm-4">
                            <input asp-for="EndDate" class="form-control" type="date" />
                            <span asp-validation-for="EndDate" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row mb-5">
                        <label asp-for="Reason" class="col-sm-3 col-form-label">Description:</label>
                        <div class="col-sm-9">
                            <textarea asp-for="Reason" class="form-control" placeholder="Type your description here" style="height: 150px;"></textarea>
                            <span asp-validation-for="Reason" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="d-flex justify-content-between">
                        <a href="/Home" class="btn btn-success">Back to Home</a>
                        <button type="submit" class="btn btn-primary">Save & Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
